run = "npm run dev"
entrypoint = "app/page.tsx"
hidden = [".next", "node_modules"]

[nix]
channel = "stable-24_05"

[env]
NEXT_TELEMETRY_DISABLED = "1"
WATCHPACK_POLLING = "true"
PORT = "3000"

[packager]
language = "nodejs"

[packager.features]
packageSearch = true
guessImports = true
enabledForHosting = false

[[ports]]
localPort = 3000
externalPort = 80

[deployment]
run = ["sh", "-c", "npm run build && npm run start"]
deploymentTarget = "cloudrun"
